{% extends "base.html" %}

{% block content %}
{% load bootstrap_tags %}


<div class="container">

  <div class="starter-template">

    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">{{ hotel.name }}</div>
      <div class="panel-body">
      </div>
      <!-- Table -->
      <table class="table table-bordered">
      {% if all_rooms_list %}
          <tr class="info">
              <td>Number</a></td>
              <td>Available</a></td>
              <td>Prepared</td>
              <td>Condignation</td>
              <td>Equipment</td>
          </tr>

          {% for room in all_rooms_list %}
          {% if room.available %}
              <tr class="success">
          {% else %}
              <tr>
          {% endif %}
              <td><a href="{% url 'rooms:detail' room.number %}">{{ room.number }}</a></td>
              <td>{{ room.available }}</a></td>
              <td>{{ room.prepared }}</td>
              <td>{{ room.condignation }}</td>
              <td>
              {% if room.equipments.all %}
                  {% for e in room.equipments.all %}
                      {{ e }},
                  {% endfor %}
              {% else %}
                  None
              {% endif %}
              </td>
          </tr>
          {% endfor %}
      {% else %}
          <tr><td>No rooms are available.</td></tr>
      {% endif %}
      </table>
    </div>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

  </div>
<form class="form-signin" role="form" action="/rooms/add/" method="post" enctype="multipart/form-data">
    <legend>My Form</legend>
    {% csrf_token %}
    {{ room_form|as_bootstrap }}
    <div class="form-actions">
      <a href="#back" class="btn">Go back</a>
      <button type="submit" class="btn btn-primary">Save changes</button>
    </div>
</form>




</div><!-- /.container -->


{% endblock %}


