{% extends "base.html" %}
{% block content %}
    <div class="container">

      <div class="starter-template">
        <h1>Hotel Manager</h1>
        <p class="lead">This is a home page of Hotel Manager Project</p>
        {% if user.is_authenticated %}
            <p>Twoje hotele:</p>
            {% for h in user.userprofile.hotels.all %}
                <p><a href="{% url 'detail' h.name|slugify %}">{{ h.name }}</a></p>
            {% endfor %}
        {% else %}
        <p>Login as tadek (password=tadek) or register (fill in all the fields)</p>
        <p>Then you are welcome to taste the "rooms" functionality (link will appear on the top menu)</p>
        {% endif %}
      </div>

    </div><!-- /.container -->
{% endblock %}

