{% extends "base.html" %}
{% block content %}
{% load bootstrap_tags %}
<div class="container">

  <div class="starter-template">
    
    {% if registered %}
        <p>Thank you for registering.</p>
    {% else %}
        <form class="form-signin" role="form" action="/register/" method="post" enctype="multipart/form-data">
        <legend>Registration</legend>
        {% csrf_token %}
        {{ user_form|as_bootstrap }}
        {{ profile_form|as_bootstrap }}
        <div class="form-actions">
          <a href="#back" class="btn">Go back</a>
          <button type="submit" class="btn btn-primary">Save changes</button>
    {% endif %}
    </div>
</form>
    
  </div>

</div><!-- /.container -->

{% endblock %}
