{% extends "base.html" %}
  
{% block content %}


<div class="container">

  <div class="starter-template">
	
	<div class="panel panel-default">
	  <!-- Default panel contents -->
	  <div class="panel-heading">Rooms</div>
	  <div class="panel-body">
	  </div>
	  <!-- Table -->
	  <table class="table table-bordered">
	  {% if all_rooms_list %}
	  	  <tr class="info">
			  <td>Number</a></td>
			  <td>Available</a></td>
              <td>Prepared</td>  
              <td>Condignation</td> 
              <td>Equipment</td> 
          </tr>
	     
	      {% for room in all_rooms_list %}
	      <tr>
			  <td><a href="{% url 'rooms:detail' room.number %}">{{ room.number }}</a></td>
			  <td>{{ room.available }}</a></td>
              <td>{{ room.prepared }}</td>  
              <td>{{ room.condignation }}</td> 
              <td>{{ room.equipment }}</td> 
          </tr>
	      {% endfor %}
	  {% else %}
	      <tr><td>No rooms are available.</td></tr>
	  {% endif %}
	  </table>
	</div>
	
	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	

	
	<form class="form-signin" role="form" action="{% url 'rooms:add' %}" method="post">
	{% csrf_token %}
	<h2 class="form-signin-heading">add room</h2>
	<input type="text" name="number" class="form-control" required>
	<input type="text" name="available" class="form-control" required>
	<input type="text" name="prepared" class="form-control" required>
	<input type="text" name="condignation" class="form-control" required>

	<button class="btn btn-lg btn-primary btn-block" type="submit">Add</button>
  </form>

  

  
  </div>

</div><!-- /.container -->

{% endblock %}

